page-login {
    
    #buttonTop{
       position: fixed;
       bottom: 0px;
       right: 0px;
       z-index: 99;
       cursor: pointer;
   }
   #footerElement{
    position: fixed;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    }

   //home.css starts here

   @font-face {
    font-family:"Manda";
    src: url("/includes/Mandali.ttf")
}
body
{
	background-image: url("../images/backwobl.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}
#content
{
	text-align:center;
    min-height:100%;
    margin-bottom:100px;
}
#brgap
{
	display:none;
}
.linedivider
{
	display:block;
	margin:auto;
	width:100%;
	max-width:826px;
}
.first
{
	margin:5% 0;
}
.second
{
	background-image: url("../images/blrback.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	border-top:2.5px solid #080d10;
	border-bottom:2.5px solid #080d10;
}
.firstleft,.firstright,.firstimage
{
	display:inline-block;
	text-align:center;
	vertical-align:middle;
}
.firstleft
{
	width:85%;
	/*over this one*/max-width:300px;
}
.firstright
{
	margin:0 15px;
}
.firstimage
{
	width:100%;
	/*and this one*/max-width:300px;
	
}
.firstimage img
{
	width:100%;
	vertical-align:middle
}
.notif
{
        font-family: 'Manda';
	font-weight:bold;
        display:inline-block;
font-size:100%;
}
.notiflink
{
      	font-family:'Archivo Narrow';
        transition:0.4s ease-in;
        font-weight:normal;
        text-decoration:none;
	-webkit-transition:0.4s ease-in;
	background-color:white;
	border-radius:20px;
        display:inline-block;
	padding:1% 4%;
	color:black;
}
.notiflink:hover
{
	color:white;
	background-color:black;
}
.chakralusvg
{
	width:100%;
	vertical-align:middle;
}
.hidewhensmall
{
	display:none;
}
.hidesmall
{
	display:none;
}
.book
{
	text-decoration:none;
}
.vid
{
	width:47%;
	margin:1%;
	display:inline-block;
	vertical-align:top;
	color:black;
	font-size:110%;
	font-size:5vw;
}
.minusvid
{
	
	line-height:125%;
}
.vidname
{
	font-family: 'Manda';
	font-weight:bold;
}
.vid a
{
	text-decoration:none;
	display:block;
}
.vid img
{
	width:100%;
	vertical-align:middle;
}
.img-container
{
	display:block;
	position: relative;
	margin-bottom:5px;
}

.img-container .top
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.top
{
	visibility:hidden;
	-webkit-filter:opacity(0%);
	-webkit-transition:0.4s;
	filter:opacity(0%);
	transition:0.4s;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.top
	{
		display:none;
	}
}
.bottom
{
	-webkit-filter:grayscale(0%);
	-webkit-transition:0.4s;
	filter:grayscale(0%);
	transition:0.4s;
	box-shadow: 0 -2.5px 6px 0 rgba(0, 0, 0, 0.8), 0 2.5px 5px 0 rgba(0, 0, 0, 0.8);
}
.newvideo .bottom
{
	box-shadow: 0 -2.5px 6px 0 white, 0 2.5px 5px 0 white;
}
.img-container:hover .top
{
	visibility:visible;
	-webkit-filter:opacity(100%);
	filter:opacity(100%);
	transform:scaleX(0.65) scaleY(0.65);
	-webkit-transform:scaleX(0.65) scaleY(0.65);
}
.img-container:hover .bottom
{
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
	box-shadow:initial;
}
.book img
{
	width:47%;
	margin:1%;
	
	box-shadow:0px 2px 5px black, 0px -2px 5px black;
	transition:0.45s;
	-webkit-transition:0.45s;
}
.newbook img
{
	box-shadow:0px 2px 5px white, 0px -2px 5px white;
}
.comingsoonbook img
{
	box-shadow:0px 2px 5px hotpink, 0px -2px 5px hotpink;
}
.book img:hover
{
	box-shadow:0px 2px 5px white, 0px -2px 5px white;
}
.newbook img:hover
{
	box-shadow:initial;
}
.comingsoonbook img:hover
{
	box-shadow:0px 2px 5px white, 0px -2px 5px white;
}
.vap
{
	color:black;
	font-family:'Archivo Narrow',Verdana;
	font-size:100%;
	background-color:white;
	display:inline-block;
	border-radius:25px;
	padding:5px 10px;
	transition:0.3s ease-out;
	-webkit-transition:0.3s ease-out;
}
.vap:hover
{
	background-color:black;
	color:white;
}
.third
{
	text-align:center;
	font-size:110%;
	width:100%;
	word-wrap:break-word;
	display:inline-block;
	font-family: 'Manda';
	font-weight:normal;
	padding:2% 1%;
}
.third p
{
	margin:0;
}
.titles
{
	font-family: 'Manda';
	font-weight:normal;
	font-size:160%;
	color:crimson;
}

@media screen and (min-width: 491px)
{
	.book img
	{
		max-width:225px;
	}
	.vid
	{
		width:225px;
		margin:1%;
		font-size:140%;
	}
}
@media screen and (min-width: 640px)
{
	.third
	{
		font-size:115%;
	}
}
@media screen and (min-width: 650px)
{
	.book img
	{
		box-shadow:0px 5px 15px black, 0px -5px 15px black;
	}
	.newbook img
	{
		box-shadow:0px 5px 15px white, 0px -5px 15px white;
	}
	.comingsoonbook img
	{
		box-shadow:0px 5px 15px hotpink, 0px -5px 15px hotpink;
	}
	.book img:hover
	{
		box-shadow:0px 5px 15px white, 0px -5px 15px white;
	}
	.newbook img:hover
	{
		box-shadow:initial;
	}
	.comingsoonbook img:hover
	{
		box-shadow:0px 5px 15px white, 0px -5px 15px white;
	}
}
@media screen and (min-width: 985px)
{
	
	.hidewhensmall
	{
		display:inline;
	}
}
@media screen and (min-width: 1024px)
{
	.vap
	{
		font-size:130%;
	}
	.hidesmall
	{
		/*display:inline-block; //Use*/
	}
	.third
	{
		font-size:130%;
	}
	.firstleft
	{
		max-width:300px;
	}
	.titles
	{
		font-size:160%;
	}
.notif
{
font-size:115%;
}
	.firstimage
	{
		max-width:275px;
		-webkit-box-shadow:
     0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 4px #fff,
                0px 0px 0px 3px rgba(0,0,0,0.2),
                2px 2px 5px 6px #555;
     -moz-box-shadow:
     0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 4px #fff,
                0px 0px 0px 3px rgba(0,0,0,0.2),
                2px 2px 5px 6px #555;
          box-shadow:
     0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 4px #fff,
                0px 0px 0px 3px rgba(0,0,0,0.2),
                2px 2px 5px 6px #555;
	}
}
@media screen and (min-width: 1025px)
{
	.book img
	{
		max-width:300px;
	}
	.vid
	{
		width:300px;
		margin:1%;
		font-size:170%;
	}
	
}
@media screen and (min-width: 1280px)
{
	.firstleft
	{
		max-width:300px;
	}
	.titles
	{
		font-size:160%;
	}
.notif
{
font-size:135%;
}
	.firstimage
	{
		max-width:400px;
		-webkit-box-shadow:
     0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 6px #fff,
                0px 0px 0px 5px rgba(0,0,0,0.2),
                3px 3px 8px 9px #555;
     -moz-box-shadow:
     0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 6px #fff,
                0px 0px 0px 5px rgba(0,0,0,0.2),
                3px 3px 8px 9px #555;
  
          box-shadow:
     0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 6px #fff,
                0px 0px 0px 5px rgba(0,0,0,0.2),
                3px 3px 8px 9px #555;
	}
	.vid
	{
		width:425px;
		margin:0.9%;
		font-size:170%;
	}
}
@media screen and (min-width: 1366px)
{
	body
	{
		background-position: top;
		background-size:auto;
		background-image:url("../images/backwbl.jpg");
	}
	#brgap
	{
		display:block;
	}
	.third
	{
		font-size:150%;
	}
	.firstleft
	{
		max-width:300px;
	}
	.titles
	{
		font-size:160%;
	}
	.firstimage
	{
		max-width:500px;
	
	}
}
@media screen and (min-width: 1600px)
{
	.firstleft
	{
		max-width:300px;
	}
	.titles
	{
		font-size:160%;
	}
	.firstimage
	{
		max-width:500px;
	
	}
}
@media screen and (min-width: 1920px)
{
	body
	{
		background-size:cover;
	}
}


     
}