
 
 <ion-menu [content]="content">
  <ion-content style="background-color: #222;width:270px;" padding class="backgroundImage">

    <p><span style="font-size: 25px;color:white;font-weight: bold;"> తేట తెలుగు మాటలు</span></p>
    
    <p *ngFor="let c of this.globaldata.pages;let i=index" (click)="toggleLevel1('idx'+i)">
      <span (click)="openPage(c);isOpen=!isOpen"> <span class="menuclass"><b> {{c.title}}</b> </span></span>
      <span *ngIf="isLevel1Shown('idx'+i) && isOpen==true">
        <p style="line-height: 25px;margin-left:15px" *ngFor="let s of c.sub">
          <span class="menuclass" (click)="openPage(s)"> <b> {{s.title}} </b></span>
        </p>
      </span>
    </p>

  </ion-content>
</ion-menu>

<ion-header>
  <ion-navbar color='dark'>
    <div class="row">
      <div class="col"></div>
      <div class="col-sm-2" style="text-align:right;">
        <button ion-button menuToggle
          style="font-size: 25px;color:white;font-weight: bold;background-color:#222222;height:45px">
          <div *ngIf="this.globaldata.menuEnabled">
            
          <ion-icon style="font-size:40px" name="menu"></ion-icon>
        </div>
          <span style="font-size: 25px;color:white;font-weight: bold;"> తేట తెలుగు మాటలు</span>
        </button>
      </div>
      <div class="col"></div>

    </div>
  </ion-navbar>
</ion-header>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>



<div id="footer" >
			
        <br>
          <span>&#169; 2020-2021 Thetatelugu.org  All rights reserved</span>
         <br><br>
      </div>